<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            我的账户
            <small>myAccount</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="actived">
                <a href="#">我的账户</a>
            </li>
        </ol>
    </section>
    <section class="content togglable-tabs">
        <!--选项-->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" [class.active]="step==0" (click)="step=0">
                <a>基本资料</a>
            </li>
            <li role="presentation" [class.active]="step==1" (click)="step=1">
                <a>安全设置</a>
            </li>
        </ul>
        <div class="tab-content col-md-12 col-xs-12">
            <!--基本信息  -->
            <div role="tabpanel" class="tab-pane" [class.active]="step==0" *ngIf="step==0">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <h4>认证</h4>
                                <div class="platform">
                                    <a class="platform-item col-md-3 col-xs-4 col-md-offset-2 col-xs-offset-1" href="javascript:;">
                                        <div class="icon">
                                            <i class="fa fa-user-plus">&nbsp;</i>
                                        </div>
                                        <strong class="topic">个人</strong>
                                        <p>个人类型广告主需上传<br>手持身份证照片</p>
                                    </a>
                                    <a class="platform-item col-md-3 col-xs-4 col-md-offset-2 col-xs-offset-2" href="javascript:;">
                                        <div class="icon">
                                            <i class="fa fa-institution">&nbsp;</i>
                                        </div>
                                        <strong class="topic">企业</strong>
                                        <p>企业类型广告主需提供<br>最新年检营业执照</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 安全设置-->
            <div role="tabpanel" class="tab-pane" [class.active]="step==1" *ngIf="step==1">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <h4 class="title">您的基础信息</h4>
                                <div class="row mt-20">
                                    <label class="col-xs-2 control-label">
                                         <strong>手机号码:</strong>
                                    </label>
                                    <div class="col-xs-6 fc-blue">
                                        {{advert.phone}}
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="btn" class="btn btn-info">修改手机</button>
                                    </div>
                                </div>
                                <div class="row mt-20">
                                    <label class="col-xs-2 control-label">
                                        <strong>登陆邮箱:</strong>
                                     </label>
                                    <div class="col-xs-6 fc-blue">
                                        <!-- {{advert.email||advert.phone}} -->
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="btn" class="btn btn-info">设置邮箱</button>
                                    </div>
                                </div>
                            </div>
                            <!--您的安全服务-->
                            <div class="form-group">
                                <h4 class="title">您的安全服务</h4>
                                <div class="row mt-20">
                                    <label class="col-xs-2 control-label">
                                         <strong>登陆密码</strong>
                                    </label>
                                    <div class="col-xs-6 fc-blue">
                                        安全性高的密码可以使帐号更安全。建议您定期更换密码，且设置一个包含数字和字母，并长度超过6位以上的密码。
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="btn" class="btn btn-info">修改</button>
                                    </div>
                                </div>
                                <div class="row mt-20">
                                    <label class="col-xs-2 control-label">
                                        <strong>登陆邮箱</strong>
                                     </label>
                                    <div class="col-xs-6 fc-blue">
                                        绑定邮箱后，您即可享受丰富的邮箱服务，如邮箱登录、邮箱找回密码等。
                                    </div>
                                    <div class="col-xs-4">
                                        <button type="btn" class="btn btn-info">绑定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>